/* --------------------------------------------------------- *\
					STYLES DEMO 
	(effacez le fichier quad vous intégrez votre site !!!)
\* --------------------------------------------------------- */
body {
  font-family: arial, helvetica, sans-serif;
}
#intro {
  padding-top: 70px;
}
.exemple {
  background: #ebebeb;
  border-radius: 20px;
  padding: 40px 10px 10px 10px;
  margin: 10px;
  position: relative;
}
.exemple:before {
  content: "exemple";
  color: #d2d2d2;
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
}
.off {
  color: #7d7d7d;
}
.classe {
  background: #64c8c8;
  padding: 2px 5px;
  border-radius: 7px;
}
#menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #1e1e1e;
  color: white;
  line-height: 4.1em;
  z-index: 2;
}
#menu a {
  text-decoration: none;
}
#menu a:hover {
  background: white;
  color: #1e1e1e;
}
.intro {
  width: 70%;
  max-width: 700px;
}
.demo-margins {
  border: 1px solid #7d7d7d;
  width: 40%;
  min-height: 21px;
}
.demo-margins div {
  background: white;
}
#samplesLayout th,
#samplesLayout td {
  border: 1px solid #7d7d7d;
  padding: 5px;
}
#samplesLayout th {
  background: #7d7d7d;
}
#samplesLayout .col1 {
  width: 150px;
}
#samplesLayout .col2 {
  width: 400px;
}
#grilles [class*=col-] {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .break-tablet {
    background: rgba(255, 150, 0, 0.2) !important;
  }
}
@media (max-width: 640px) {
  .break-mobile {
    background: rgba(255, 0, 0, 0.2) !important;
  }
}
