/* ------------------------------------ *\
				FORMS
\* ------------------------------------ */

/* messages d'erreur ou de confirmation */
.alert, 
.alert input, 
.alert textarea, 
.alert select {
	color: red;
	font-weight: bold;
}

.alert input, 
.alert textarea, 
.alert select {
	border: 1px solid red;
}

.alert img { 
	border: 0; 
}

.good, 
.good input, 
.good textarea, 
.good select {
	color: green;
	font-weight: bold;
}

.good input, 
.good textarea, 
.good select {
	border: 1px solid green;
}

.good img { 
	border: 0; 
}