/* ------------------ GRILLE -------------------- */
.nogut {
  padding-left: 0 !important;
  padding-right: 0 !important;
  /* retirer la gouttière sur une colonne */

}
.colset {
  display: inline-block;
  /* pour créer un contexte de formatage de block (BFC) pour les enfants flottants */

  width: 100%;
  vertical-align: top;
  padding-left: 0 !important;
  padding-right: 0 !important;
  /* retirer la gouttière sur une colonne */

}
.colset > [class*=col-] {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px;
  /* Pour que ça marche même si le bloc est vide */

}
.col-1 {
  width: 8.333333333333334%;
}
.col-2 {
  width: 16.666666666666668%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333333333333336%;
}
.col-5 {
  width: 41.66666666666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333333333336%;
}
.col-8 {
  width: 66.66666666666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333333334%;
}
.col-11 {
  width: 91.66666666666667%;
}
.col-12 {
  width: 100%;
}
.space-1 {
  margin-left: 8.333333333333334%;
}
.space-2 {
  margin-left: 16.666666666666668%;
}
.space-3 {
  margin-left: 25%;
}
.space-4 {
  margin-left: 33.333333333333336%;
}
.space-5 {
  margin-left: 41.66666666666667%;
}
.space-6 {
  margin-left: 50%;
}
.space-7 {
  margin-left: 58.333333333333336%;
}
.space-8 {
  margin-left: 66.66666666666667%;
}
.space-9 {
  margin-left: 75%;
}
.space-10 {
  margin-left: 83.33333333333334%;
}
.space-11 {
  margin-left: 91.66666666666667%;
}
/* -------------------------------------------------------------- */
.wrapper {
  max-width: 1000px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.mod {
  overflow: hidden;
}
/* block contenant des flottants */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.ie6 .mod,
.ie7 .mod,
.ie6 .clearfix,
.ie7 .clearfix {
  zoom: 1;
}
/* inline-block */
.ilbl {
  display: inline-block;
  vertical-align: top;
  margin-right: -0.25em;
}
.ie6 .ilbl,
.ie7 .ilbl {
  display: inline;
  zoom: 1;
}
/* Définitions de marges et de paddings */
/* margin */
.margin0 {
  margin: 0 !important;
}
.margin1 {
  margin: 10px;
}
.margin2 {
  margin: 20px;
}
.margin3 {
  margin: 30px;
}
/* mt = margin-top */
.marginT0 {
  margin-top: 0 !important;
}
.marginT1 {
  margin-top: 10px;
}
.marginT2 {
  margin-top: 20px;
}
.marginT3 {
  margin-top: 30px;
}
/* mr = margin-right */
.marginR0 {
  margin-right: 0 !important;
}
.marginR1 {
  margin-right: 10px;
}
.marginR2 {
  margin-right: 20px;
}
.marginR3 {
  margin-right: 30px;
}
/* mb = margin-bottom */
.marginB0 {
  margin-bottom: 0 !important;
}
.marginB1 {
  margin-bottom: 10px;
}
.marginB2 {
  margin-bottom: 20px;
}
.marginB3 {
  margin-bottom: 30px;
}
/* ml = margin-left */
.marginL0 {
  margin-left: 0 !important;
}
.marginL1 {
  margin-left: 10px;
}
.marginL2 {
  margin-left: 20px;
}
.marginL3 {
  margin-left: 30px;
}
/* padding */
.padding0 {
  padding: 0 !important;
}
.padding1 {
  padding: 10px;
}
.padding2 {
  padding: 20px;
}
.padding3 {
  padding: 30px;
}
/* pt = padding-top */
.paddingT0 {
  padding-top: 0 !important;
}
.paddingT1 {
  padding-top: 10px;
}
.paddingT2 {
  padding-top: 20px;
}
.paddingT3 {
  padding-top: 30px;
}
/* pr = padding-right */
.paddingR0 {
  padding-right: 0 !important;
}
.paddingR1 {
  padding-right: 10px;
}
.paddingR2 {
  padding-right: 20px;
}
.paddingR3 {
  padding-right: 30px;
}
/* pb = padding-bottom */
.paddingB0 {
  padding-bottom: 0 !important;
}
.paddingB1 {
  padding-bottom: 10px;
}
.paddingB2 {
  padding-bottom: 20px;
}
.paddingB3 {
  padding-bottom: 30px;
}
/* pl = padding-left */
.paddingL0 {
  padding-left: 0 !important;
}
.paddingL1 {
  padding-left: 10px;
}
.paddingL2 {
  padding-left: 20px;
}
.paddingL3 {
  padding-left: 30px;
}
.marginAuto {
  margin-left: auto;
  margin-right: auto;
}
/* Textes */
.alignR {
  text-align: right;
}
.alignC {
  text-align: center;
}
.alignL {
  text-align: left;
}
.alignJ {
  text-align: justify;
}
.uppercase {
  text-transform: uppercase;
}
.underline {
  text-decoration: underline;
}
/* pour les listes utiliser comme menu par exemple */
ul.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* remplacer du texte par une image en background par exemple */
.textHidden {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
}
/* Règles d'affichage */
.hidden {
  display: none;
}
/* caché partout (pour javascript) */