/* ------------------------------------ *\
                  LAYOUT
\* ------------------------------------ */

.nogut { 
    padding-left: 0 !important; 
    padding-right: 0 !important; /* retirer la gouttière sur une colonne */
}

.colset, 
.subcolset {
    display: inline-block; /* pour créer un contexte de formatage de block (BFC) pour les enfants flottants */
    width: 100%;
    vertical-align: top;
}

/* C'est ici que vous pouvez librement personnaliser les gouttières */
.colset > [class*=col-], 
.colset .subcolset > [class*=col-] {
    float: left;
    padding-left: 10px; 
    padding-right: 10px; 
    min-height: 1px;
}

/* Retirer les goutières des colonnes imbriquées */
.colset .subcolset {
    padding-left: 0 !important; 
    padding-right: 0 !important;
}

/* Les colonnes sont en %, si vous ne souhaitez pas d'un site flexible, créer un conteneur de taille fixe */
.col-1,
.space-1:before { width: 8.3333333333%; }
.col-2,
.space-2:before { width: 16.6666666667%; }
.col-3,
.space-3:before { width: 25%; }
.col-4,
.space-4:before { width: 33.3333333333%; }
.col-5,
.space-5:before { width: 41.6666666667%; }
.col-6,
.space-6:before { width: 50%; }
.col-7,
.space-7:before { width: 58.3333333333%; }
.col-8,
.space-8:before { width: 66.6666666667%; }
.col-9,
.space-9:before { width: 75%; }
.col-10,
.space-10:before { width: 83.3333333333%; }
.col-11
,.space-11:before { width: 91.6666666667%; }
.col-12 { width: 100%; }

[class*=space-]:before{
    content: "";
    height: 1px;
    float: left;
} 