/* ------------------------------------ *\
		          LAYOUT
\* ------------------------------------ */

.nogut { 
    padding-left: 0 !important; 
    padding-right: 0 !important; /* To remove gutter from a column */
}

.colset, 
.subcolset {
    display: inline-block; /* to create a block formating context (BFC) for the floating children */
    width: 100%;
    vertical-align: top;
    padding-left: 10px; 
    padding-right: 10px;
}

/* gutter can be personnalized has you wich */
.colset > [class*=col-], 
.colset .subcolset > [class*=col-] {
    float: left;
    padding-left: 10px; 
    padding-right: 10px; 
}

/* To remove gutter from nested set of columns */
.colset .subcolset {
    padding-left: 0 !important; 
    padding-right: 0 !important;
}



.col-1 { width: 8.3333333333%; }
.col-2 { width: 16.6666666667%; }
.col-3 { width: 25%; }
.col-4 { width: 33.3333333333%; }
.col-5 { width: 41.6666666667%; }
.col-6 { width: 50%; }
.col-7 { width: 58.3333333333%; }
.col-8 { width: 66.6666666667%; }
.col-9 { width: 75%; }
.col-10 { width: 83.3333333333%; }
.col-11 { width: 91.6666666667%; }
.col-12 { width: 100%; }