/* ------------------------------------ *\
			MEDIA QUERIES
\* ------------------------------------ */
.nodesktop { display: none; } /* caché sur desktop */
.noprint   {} /* caché sur print */
.notablet  {} /* caché sur tablettes */
.nomobile  {} /* caché sur mobile */

.break-tablet { } /* occupera toute la largeur sur tablettes */
.break-mobile { } /* occupera toute la largeur sur mobiles */


/* Ecrans Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {

}

/* Grands écrans */
@media (min-width: 1280px) {

}

/* Tablettes */
@media (max-width: 768px) {
	.nodesktop { display: block; }
	.notablet { display: none; }
	
	/* linéarisation des contenus flottants */
	.break-tablet {
		float: none;
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6 {
		text-rendering: optimizeLegibility;
	}
}

/* Mobiles */
@media (max-width: 640px) {
	.notablet { display: block; }
	.nomobile { display: none; }

	/* linéarisation des contenus flottants */
	.break-mobile {
		float: none;
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6 {
		text-rendering: optimizeLegibility;
	}
}

/* orientation iOS font-size fix */
@media (orientation: landscape) and (max-device-width: 768px) {
	html, body {
		-webkit-text-size-adjust: 100%;
	}
}

/* print */
@media print {
	body, html, #page {
		background-color: #fff;
		background-image: none;
		border: 0;
		box-shadow: none;
		color: #000;
		float: none;
		height: auto;
		margin: 0;
		min-height: auto;
		padding: 0;
		position: static;
		width: auto;
	}

	body {
		padding: .5em;
	}

	.noprint { display: none; }

	/* éviter saut de page hasardeux */
	blockquote, ul, ol {
		page-break-inside: avoid;
	}
	h1, h2, h3, caption {
		page-break-after: avoid;
	}
	
	p, blockquote {
		orphans: 2;
		widows: 2;
	}

	/* affichage des liens, sauf pour image contenue */
	/* attention, penser à vérifier le résultat et penser 
	* à limiter cette possibilité aux liens dans le contenu */
	a:after { content: " (" attr(href) ") "; }
	a:after img { content: ""; }

	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6 {
		text-rendering: optimizeLegibility;
	}
}
