/* ------------------------------------ *\
				RESET
\* ------------------------------------ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: normal;
  font-style: normal;
}
article,
aside,
audio,
canvas,
datagrid,
datalist,
details,
dialog,
figure,
footer,
header,
main,
menu,
nav,
section,
video {
  display: block;
}
abbr,
eventsource,
mark,
meter,
time,
progress,
output,
bb {
  display: inline;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body > script {
  display: none !important;
}
/* !!! ATTENTION !!! Changement du model de boîtes (border et padding n'augmente plus le taille des blocs), mais compatible avec IE6 et IE7 !*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(css/boxsizing.htc);
}
a {
  color: inherit;
  border: 0;
}
a:link img,
a:visited img {
  border-style: none;
}
em {
  font-style: italic;
}
b,
strong {
  font-weight: bold;
}
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
iframe {
  max-width: 100%;
  width: auto\9;
  /* ie8 */

}
img {
  vertical-align: middle;
  height: auto;
  -ms-interpolation-mode: bicubic;
  /* lissage pour IE */

  border: 0;
  border-style: none;
}
/* fix d'un bug sur le max-width si vous utilisez Gmap3 (voir google) */
#map_canvas img,
.gmnoprint img {
  max-width: none;
}
table,
td,
blockquote,
code,
pre,
textarea,
input {
  height: auto;
}
iframe {
  vertical-align: middle;
  border: 0;
}
textarea,
table,
td,
th,
code,
pre,
samp,
div,
p {
  word-wrap: break-word;
  hyphens: auto;
}
code,
pre,
samp {
  white-space: pre-wrap;
  font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
  line-height: 1em;
}
sup,
sub {
  vertical-align: 0;
  position: relative;
}
sup {
  bottom: 1ex;
}
sub {
  top: .5ex;
}
abbr[title] {
  cursor: help;
}
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
label,
button,
input,
select,
.btn {
  vertical-align: middle;
}
textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[disabled] {
  cursor: default;
}
input[type="radio"],
input[type="checkbox"] {
  background-color: none;
  border: 0;
  width: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button[disabled] {
  cursor: default;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
html {
  -webkit-font-smoothing: antialiased;
}
body {
  background: #fff;
}
/* retire les marges des éléments imbriqués dans une liste */
li > p,
li > ul,
li > ol {
  margin-top: 0;
  margin-bottom: 0;
}
.no_desktop {
  display: none;
}
/* caché sur desktop */
/* caché sur print */
/* caché sur tablettes */
/* caché sur mobile */
/* occupera toute la largeur sur tablettes */
/* occupera toute la largeur sur mobiles */
/* Ecrans Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  
}
/* Grands écrans */
@media (min-width: 1280px) {
  
}
/* Tablettes */
@media (max-width: 768px) {
  .no_desktop {
    display: block;
  }
  .no_tablet {
    display: none;
  }
  /* linéarisation des contenus flottants */
  .break_tablet {
    float: none;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    text-rendering: optimizeLegibility;
  }
}
/* Mobiles */
@media (max-width: 640px) {
  .no_tablet {
    display: block;
  }
  .no_mobile {
    display: none;
  }
  /* linéarisation des contenus flottants */
  .break_mobile {
    float: none;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    text-rendering: optimizeLegibility;
  }
}
/* orientation iOS font-size fix */
@media (orientation: landscape) and (max-device-width: 768px) {
  html,
  body {
    -webkit-text-size-adjust: 100%;
  }
}
/* print */
@media print {
  body,
  html,
  #page {
    background-color: #fff;
    background-image: none;
    border: 0;
    box-shadow: none;
    color: #000;
    float: none;
    height: auto;
    margin: 0;
    min-height: auto;
    padding: 0;
    position: static;
    width: auto;
  }
  body {
    padding: .5em;
  }
  .no_print {
    display: none;
  }
  /* éviter saut de page hasardeux */
  blockquote,
  ul,
  ol {
    page-break-inside: avoid;
  }
  h1,
  h2,
  h3,
  caption {
    page-break-after: avoid;
  }
  p,
  blockquote {
    orphans: 2;
    widows: 2;
  }
  /* affichage des liens, sauf pour image contenue */
  /* attention, penser à vérifier le résultat et penser
  	* à limiter cette possibilité aux liens dans le contenu */
  a:after {
    content: " (" attr(href) ") ";
  }
  a:after img {
    content: "";
  }
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    text-rendering: optimizeLegibility;
  }
}
