section#intro.colset
  header.col-small-12.margin-b-2
    h1 Starting-block
    p.bold.big.margin-b-2 - The LESS micro framework starter -

  .col-medium-8
    p
      | #[strong Starting-Block] is a micro LESS/CSS framework to start your new projects. It is very flexible so that you can work on complexe designs. This page is, indeed, #[strong responsive] and can be used as a #[strong Style Guide].
    p
      | You better use the LESS files instead of compiled CSS. That way you can use Starting-Block classes into your own styles to keep your HTML lighter.
    p
      | Some other very good frameworks inspired me, such as:
      = " "
      a(href="http://www.knacss.com/")
        strong Knacss
      = ", "
      a(href="http://rocssti.nicolas-hoffmann.net/")
        strong ROCSSTI
      = ", "
      a(href="http://getbootstrap.com/")
        strong Bootstrap
      = " or "
      a(href="http://foundation.zurb.com/")
        strong Foundation
      | .
    p
      | Browser support:
      = " "
      strong Internet Explorer 7+, Firefox 3.6+, Safari 3+, Google Chrome 16+
      | .
    p
      | I'm #[strong Thierry Philippe], front-end developper and web designer in Paris... with a pleasant south-wester accent:
      = " "
      a(href="http://www.thierryphilippe.fr")
        strong my portfolio
      | .

  .col-medium-4
    p.margin-b-0
      strong Features:
    ul.margin-b-2
      li Mobile first grid
      li Only clean CSS (That will not destroy your design!)
      li target all children to apply styles (all-* on parent element)
      li Grunt ready (bluid CSS or use Less version for easy customization)

    a.btn(href="https://github.com/lordfpx/startingblock", title="Github page") GitHub Page
    a.btn(href="https://github.com/lordfpx/startingblock/archive/master.zip", title="Download from Github") Download
