section#typo
  h2
    | Typography
    a.smaller.margin-large-1(href="#menu") Back to top

  dl.colset.all-margin-b-1.definitions
    dt.col-medium-4
      span.class uppercase | all-uppercase
    dd.col-medium-8
      span.uppercase Lorem ipsum dolor sit amet
    dt.col-medium-4
      span.class underline | all-underline
    dd.col-medium-8
      span.underline Lorem ipsum dolor sit amet
    dt.col-medium-4
      span.class bold
    dd.col-medium-8.margin-b-3
      span.bold Lorem ipsum dolor sit amet
    dt.col-medium-4
      span.class smallest
    dd.col-medium-8
      span.smallest Lorem ipsum dolor sit amet
    dt.col-medium-4
      span.class smaller
    dd.col-medium-8
      span.smaller Lorem ipsum dolor sit amet
    dt.col-medium-4
      span.class big
    dd.col-medium-8
      span.big Lorem ipsum dolor sit amet
    dt.col-medium-4
      span.class bigger
    dd.col-medium-8
      span.bigger Lorem ipsum dolor sit amet
    dt.col-medium-4
      span.class biggest
    dd.col-medium-8.margin-b-3
      span.biggest Lorem ipsum dolor sit amet
    dt.col-medium-4
      span.class align-l | all-align-l
    dd.col-medium-8.align-l
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ratione, quia, ab blanditiis error a voluptates pariatur veritatis numquam magni ullam facere doloremque maiores odio suscipit tenetur in quidem soluta.
    dt.col-medium-4
      span.class align-r | all-align-r
    dd.col-medium-8.align-r
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ratione, quia, ab blanditiis error a voluptates pariatur veritatis numquam magni ullam facere doloremque maiores odio suscipit tenetur in quidem soluta.
    dt.col-medium-4
      span.class align-c | all-align-c
    dd.col-medium-8.align-c
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ratione, quia, ab blanditiis error a voluptates pariatur veritatis numquam magni ullam facere doloremque maiores odio suscipit tenetur in quidem soluta.
    dt.col-medium-4
      span.class align-j | all-align-j
    dd.col-medium-8.align-j
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ratione, quia, ab blanditiis error a voluptates pariatur veritatis numquam magni ullam facere doloremque maiores odio suscipit tenetur in quidem soluta.
