/* My brain has enough things to remember ;-)
-----------------------
@font-face {
	font-family: 'FuturaStdBook';
	src: url('fonts/futurastd-book-webfont.eot');
	src: url('fonts/futurastd-book-webfont.eot?#iefix') format('eot'),
		url('fonts/futurastd-book-webfont.woff') format('woff'),
		url('fonts/futurastd-book-webfont.ttf') format('truetype'),
		url('fonts/futurastd-book-webfont.svg#FuturaStdBook') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/

html {
	font-size: 62.5%;
}

body{
	.fontSize(@fontSizeNormal);
	line-height: @lineHeight;
	text-rendering: optimizeLegibility;
	color: @color1;
}

/* Standard texts */
p, ul, ol, dl, blockquote,
pre, td, th, label, textarea, caption,
details, figure, hgroup {
	.fontSize(@fontSizeNormal);
}

/* text formating */
.alignR, .all_alignR > * 
	{ text-align: right; }

.alignC, .all_alignC > * 
	{ text-align: center; }

.alignL, .all_alignL > * 
	{ text-align: left; }

.alignJ, .all_alignJ > * 
	{ text-align: justify; }

.uppercase, .all_uppercase > * 
	{ text-transform: uppercase; }

.underline, .all_underline > * 
	{ text-decoration: underline; }

.bold 
	{ font-weight: bold; }

/* change font-size */
.smallest {
	.fontSize(@fontSizeSmallest);
}
.smaller {
	.fontSize(@fontSizeSmaller);
}

.big {
	.fontSize(@fontSizeBig);
}
.bigger {
	.fontSize(@fontSizeBigger);
}
.biggest {
	.fontSize(@fontSizeBiggest);
}
