// Typo presets (will be converted in px and rem)
@fontSmallest       : 10;
@fontSmaller        : 12;
@fontNormal         : 14;   // default font size
@fontBig            : 18;
@fontBigger         : 24;
@fontBiggest        : 34;

@lineHeight         : 1.5;  // default line-height


// margin et padding sizes presets
@size1              : 10px;
@size2              : 20px;
@size3              : 40px;
@size4              : 80px;


// gutters depending on screen size (you can use same values of course)
@gutterS            : 5px;
@gutterM            : 15px;
@gutterL            : 20px;
@gutterXL           : 30px;


// break points
@screenM            : 481px; // start featuring tablets features
@screenL            : 981px; // desktop features
@screenXL           : 1281px; // specific large screen features


// It's good to define specific colors here
@colorText          : rgb(30, 30, 30);
@color2             : rgb(125, 125, 125);
@color3             : rgb(235, 235, 235);
@color4             : darken(@color3, 10%);
@colorGreen         : rgb(40,132,114);

@colorLink          : rgb(242,118,107);
@colorLinkHover     : lighten(@colorLink, 10%);


// other optionnal vars
@wrapper            : 1000px;
