/* remove gutters on a specific column */
.nogutter,
.all-nogutter > * {
  padding-left:  0 !important;
  padding-right: 0 !important;
}

/* mobile gutters */
.colset > [class^=col-],
[class^=listgrid-] > * {
  padding-left: @gutterS;
  padding-right: @gutterS;
  min-height: 1px;
  float: left;
}

/* For use in form fields */
.all-inline-block > [class^=col-]:first-child {
  padding-right: @gutterS;
}

.colset,
[class^=listgrid-] {
  width: 100%;
  margin-left: 0;
  .nogutter; // no double gutters when nested grids
  &:extend(.clearfix all);
}


/*  --------------  */
/*  AUTOMATIC GRID  */
/*  --------------  */

/* Apply these classes on the parent only */
[class^=listgrid-] {
  list-style: none;

  > * {
    margin-bottom: @gutterS;
  }
}

// nomber of columns
.listgrid-small-1 > *  { width: ((100 / 1) + 0%); }
.listgrid-small-2 > *  { width: ((100 / 2) + 0%); }
.listgrid-small-3 > *  { width: ((100 / 3) + 0%); }
.listgrid-small-4 > *  { width: ((100 / 4) + 0%); }
.listgrid-small-5 > *  { width: ((100 / 5) + 0%); }
.listgrid-small-6 > *  { width: ((100 / 6) + 0%); }
.listgrid-small-7 > *  { width: ((100 / 7) + 0%); }
.listgrid-small-8 > *  { width: ((100 / 8) + 0%); }
.listgrid-small-9 > *  { width: ((100 / 9) + 0%); }
.listgrid-small-10 > * { width: ((100 / 10) + 0%); }
.listgrid-small-11 > * { width: ((100 / 11) + 0%); }
.listgrid-small-12 > * { width: ((100 / 12) + 0%); }


/*  -------------  */
/*  FLEXIBLE GRID  */
/*  -------------  */

/* columns */
.col-small-1      { width: ((100 / 12) + 0%); }
.col-small-2      { width: ((100 / 12) * 2 + 0%); }
.col-small-3      { width: ((100 / 12) * 3 + 0%); }
.col-small-4      { width: ((100 / 12) * 4 + 0%); }
.col-small-5      { width: ((100 / 12) * 5 + 0%); }
.col-small-6      { width: ((100 / 12) * 6 + 0%); }
.col-small-7      { width: ((100 / 12) * 7 + 0%); }
.col-small-8      { width: ((100 / 12) * 8 + 0%); }
.col-small-9      { width: ((100 / 12) * 9 + 0%); }
.col-small-10     { width: ((100 / 12) * 10 + 0%); }
.col-small-11     { width: ((100 / 12) * 11 + 0%); }
.col-small-12     { width: 100%; }

/* space before a column */
.space-small-1    { margin-left: ((100 / 12) + 0%); }
.space-small-2    { margin-left: ((100 / 12) * 2 + 0%); }
.space-small-3    { margin-left: ((100 / 12) * 3 + 0%); }
.space-small-4    { margin-left: ((100 / 12) * 4 + 0%); }
.space-small-5    { margin-left: ((100 / 12) * 5 + 0%); }
.space-small-6    { margin-left: ((100 / 12) * 6 + 0%); }
.space-small-7    { margin-left: ((100 / 12) * 7 + 0%); }
.space-small-8    { margin-left: ((100 / 12) * 8 + 0%); }
.space-small-9    { margin-left: ((100 / 12) * 9 + 0%); }
.space-small-10   { margin-left: ((100 / 12) * 10 + 0%); }
.space-small-11   { margin-left: ((100 / 12) * 11 + 0%); }


/*  -------------  */
/*  MEDIA-QUERIES  */
/*  -------------  */

// tablet grids
@media (min-width: @screenM) {
  .colset > [class^=col-],
  [class^=listgrid-] > * {
    padding-left: @gutterM;
    padding-right: @gutterM;
  }
  [class^=listgrid-] > * {
    margin-bottom: @gutterM;
  }
  .all-inline-block > [class^=col-]:first-child {
    padding-right: @gutterM;
  }

  .listgrid-medium-1 > *  { width: ((100 / 1) + 0%); }
  .listgrid-medium-2 > *  { width: ((100 / 2) + 0%); }
  .listgrid-medium-3 > *  { width: ((100 / 3) + 0%); }
  .listgrid-medium-4 > *  { width: ((100 / 4) + 0%); }
  .listgrid-medium-5 > *  { width: ((100 / 5) + 0%); }
  .listgrid-medium-6 > *  { width: ((100 / 6) + 0%); }
  .listgrid-medium-7 > *  { width: ((100 / 7) + 0%); }
  .listgrid-medium-8 > *  { width: ((100 / 8) + 0%); }
  .listgrid-medium-9 > *  { width: ((100 / 9) + 0%); }
  .listgrid-medium-10 > * { width: ((100 / 10) + 0%); }
  .listgrid-medium-11 > * { width: ((100 / 11) + 0%); }
  .listgrid-medium-12 > * { width: ((100 / 12) + 0%); }

  .col-medium-1    { width: ((100 / 12) + 0%); }
  .col-medium-2    { width: ((100 / 12) * 2 + 0%); }
  .col-medium-3    { width: ((100 / 12) * 3 + 0%); }
  .col-medium-4    { width: ((100 / 12) * 4 + 0%); }
  .col-medium-5    { width: ((100 / 12) * 5 + 0%); }
  .col-medium-6    { width: ((100 / 12) * 6 + 0%); }
  .col-medium-7    { width: ((100 / 12) * 7 + 0%); }
  .col-medium-8    { width: ((100 / 12) * 8 + 0%); }
  .col-medium-9    { width: ((100 / 12) * 9 + 0%); }
  .col-medium-10   { width: ((100 / 12) * 10 + 0%); }
  .col-medium-11   { width: ((100 / 12) * 11 + 0%); }
  .col-medium-12   { width: 100%; }

  .space-medium-1  { margin-left: ((100 / 12) + 0%); }
  .space-medium-2  { margin-left: ((100 / 12) * 2 + 0%); }
  .space-medium-3  { margin-left: ((100 / 12) * 3 + 0%); }
  .space-medium-4  { margin-left: ((100 / 12) * 4 + 0%); }
  .space-medium-5  { margin-left: ((100 / 12) * 5 + 0%); }
  .space-medium-6  { margin-left: ((100 / 12) * 6 + 0%); }
  .space-medium-7  { margin-left: ((100 / 12) * 7 + 0%); }
  .space-medium-8  { margin-left: ((100 / 12) * 8 + 0%); }
  .space-medium-9  { margin-left: ((100 / 12) * 9 + 0%); }
  .space-medium-10 { margin-left: ((100 / 12) * 10 + 0%); }
  .space-medium-11 { margin-left: ((100 / 12) * 11 + 0%); }
}


// desktop grids
@media (min-width: @screenL) {
  .colset > [class^=col-],
  [class^=listgrid-] > * {
    padding-left: @gutterL;
    padding-right: @gutterL;
  }
  [class^=listgrid-] > * {
    margin-bottom: @gutterL;
  }
  .all-inline-block > [class^=col-]:first-child {
    padding-right: @gutterL;
  }

  .listgrid-large-1 > *  { width: ((100 / 1) + 0%); }
  .listgrid-large-2 > *  { width: ((100 / 2) + 0%); }
  .listgrid-large-3 > *  { width: ((100 / 3) + 0%); }
  .listgrid-large-4 > *  { width: ((100 / 4) + 0%); }
  .listgrid-large-5 > *  { width: ((100 / 5) + 0%); }
  .listgrid-large-6 > *  { width: ((100 / 6) + 0%); }
  .listgrid-large-7 > *  { width: ((100 / 7) + 0%); }
  .listgrid-large-8 > *  { width: ((100 / 8) + 0%); }
  .listgrid-large-9 > *  { width: ((100 / 9) + 0%); }
  .listgrid-large-10 > * { width: ((100 / 10) + 0%); }
  .listgrid-large-11 > * { width: ((100 / 11) + 0%); }
  .listgrid-large-12 > * { width: ((100 / 12) + 0%); }

  .col-large-1    { width: ((100 / 12) + 0%); }
  .col-large-2    { width: ((100 / 12) * 2 + 0%); }
  .col-large-3    { width: ((100 / 12) * 3 + 0%); }
  .col-large-4    { width: ((100 / 12) * 4 + 0%); }
  .col-large-5    { width: ((100 / 12) * 5 + 0%); }
  .col-large-6    { width: ((100 / 12) * 6 + 0%); }
  .col-large-7    { width: ((100 / 12) * 7 + 0%); }
  .col-large-8    { width: ((100 / 12) * 8 + 0%); }
  .col-large-9    { width: ((100 / 12) * 9 + 0%); }
  .col-large-10   { width: ((100 / 12) * 10 + 0%); }
  .col-large-11   { width: ((100 / 12) * 11 + 0%); }
  .col-large-12   { width: 100%; }

  .space-large-1  { margin-left: ((100 / 12) + 0%); }
  .space-large-2  { margin-left: ((100 / 12) * 2 + 0%); }
  .space-large-3  { margin-left: ((100 / 12) * 3 + 0%); }
  .space-large-4  { margin-left: ((100 / 12) * 4 + 0%); }
  .space-large-5  { margin-left: ((100 / 12) * 5 + 0%); }
  .space-large-6  { margin-left: ((100 / 12) * 6 + 0%); }
  .space-large-7  { margin-left: ((100 / 12) * 7 + 0%); }
  .space-large-8  { margin-left: ((100 / 12) * 8 + 0%); }
  .space-large-9  { margin-left: ((100 / 12) * 9 + 0%); }
  .space-large-10 { margin-left: ((100 / 12) * 10 + 0%); }
  .space-large-11 { margin-left: ((100 / 12) * 11 + 0%); }
}


// big desktop grids
@media (min-width: @screenXL) {
  .colset > [class^=col-],
  [class^=listgrid-] > * {
    padding-left: @gutterXL;
    padding-right: @gutterXL;
  }
  [class^=listgrid-] > * {
    margin-bottom: @gutterXL;
  }
  .all-inline-block > [class^=col-]:first-child {
    padding-right: @gutterXL;
  }


  .listgrid-xlarge-1 > *  { width: ((100 / 1) + 0%); }
  .listgrid-xlarge-2 > *  { width: ((100 / 2) + 0%); }
  .listgrid-xlarge-3 > *  { width: ((100 / 3) + 0%); }
  .listgrid-xlarge-4 > *  { width: ((100 / 4) + 0%); }
  .listgrid-xlarge-5 > *  { width: ((100 / 5) + 0%); }
  .listgrid-xlarge-6 > *  { width: ((100 / 6) + 0%); }
  .listgrid-xlarge-7 > *  { width: ((100 / 7) + 0%); }
  .listgrid-xlarge-8 > *  { width: ((100 / 8) + 0%); }
  .listgrid-xlarge-9 > *  { width: ((100 / 9) + 0%); }
  .listgrid-xlarge-10 > * { width: ((100 / 10) + 0%); }
  .listgrid-xlarge-11 > * { width: ((100 / 11) + 0%); }
  .listgrid-xlarge-12 > * { width: ((100 / 12) + 0%); }

  .col-xlarge-1    { width: ((100 / 12) + 0%); }
  .col-xlarge-2    { width: ((100 / 12) * 2 + 0%); }
  .col-xlarge-3    { width: ((100 / 12) * 3 + 0%); }
  .col-xlarge-4    { width: ((100 / 12) * 4 + 0%); }
  .col-xlarge-5    { width: ((100 / 12) * 5 + 0%); }
  .col-xlarge-6    { width: ((100 / 12) * 6 + 0%); }
  .col-xlarge-7    { width: ((100 / 12) * 7 + 0%); }
  .col-xlarge-8    { width: ((100 / 12) * 8 + 0%); }
  .col-xlarge-9    { width: ((100 / 12) * 9 + 0%); }
  .col-xlarge-10   { width: ((100 / 12) * 10 + 0%); }
  .col-xlarge-11   { width: ((100 / 12) * 11 + 0%); }
  .col-xlarge-12   { width: 100%; }

  .space-xlarge-1  { margin-left: ((100 / 12) + 0%); }
  .space-xlarge-2  { margin-left: ((100 / 12) * 2 + 0%); }
  .space-xlarge-3  { margin-left: ((100 / 12) * 3 + 0%); }
  .space-xlarge-4  { margin-left: ((100 / 12) * 4 + 0%); }
  .space-xlarge-5  { margin-left: ((100 / 12) * 5 + 0%); }
  .space-xlarge-6  { margin-left: ((100 / 12) * 6 + 0%); }
  .space-xlarge-7  { margin-left: ((100 / 12) * 7 + 0%); }
  .space-xlarge-8  { margin-left: ((100 / 12) * 8 + 0%); }
  .space-xlarge-9  { margin-left: ((100 / 12) * 9 + 0%); }
  .space-xlarge-10 { margin-left: ((100 / 12) * 10 + 0%); }
  .space-xlarge-11 { margin-left: ((100 / 12) * 11 + 0%); }
}
