include mixins

doctype html
//if lt IE 7
  html.ie6.no-js(lang="fr-FR")
//if IE 7
  html.ie7.no-js(lang="fr-FR")
//if IE 8
  html.ie8.no-js(lang="fr-FR")
// [if gt IE 8] <!
html.no-js(lang="fr-FR")
  // <![endif]
  head
    meta(charset="UTF-8")
    title Starting Block - CSS micro framework
    meta(name="description", content="Starting Block, the CSS micro framework as a starting block")
    meta(name="author", content="Thierry Philippe - www.thierryphilippe.fr")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    // Starting Block micro framework: http://test.lordfpx.com/startingblock/
    link(rel="stylesheet", href="css/startingblock.css")

    // Styles only for this demo page
    link(rel="stylesheet", href="css/demo-page.css")

  body
    nav#menu.margin-b-2.padding-t-1.padding-b-1
      ul.unstyled.big.all-left.all-padding-large-2.all-padding-r-2
        li.padding-large-3
          a(href="#intro") About
        li
          a(href="#typo") Typography
        li
          a(href="#layout") Layout
        li
          a(href="#utility") Utility classes
        li
          a(href="#queries") Media Queries
        li
          a(href="#form") Forms

    .wrapper.margin-a
      // INTRO
      include includes/intro
      // INTRO END

      hr.margin-t-3.margin-b-2

      // TYPO
      include includes/typo
      // TYPO END

      hr.margin-t-3.margin-b-2

      // LAYOUT
      include includes/layout
      // LAYOUT END

      hr.margin-t-3.margin-b-2

      // FORM
      include includes/form
      // FORM END